body{
    display: block;
    background-color: aquamarine;
}

/* CSS for navbar */
.nav{
    display: inline-block;
    width: fit-content;
    text-align: center;
    padding-top: 2em;
    margin-left: 5em;
    background-color: rgb(127, 194, 216);
}

#logo{
    height: 5em;
    width: 5em;
    float: left;
    /* margin-left: 5em; */
    margin-left: 6em;
}

.container{
    display: inline-block;
    text-align: center;
    height: 5em;
    width: 60em;
    padding-top: 1.5em;
    padding-right: 4em;
}

a{
    margin: 2em 2em;
    text-align: center;
    text-decoration: none;
}

/* CSS for image */

.image-Container{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding-right: 2.2em;
}

#mainImage{
    height: 30em;
    width: 50em;
}

/* CSS for buttons */

#next-button{
    padding-right: 1.5em;
    padding-left: 1.3em;
}

/* CSS for info */

.info-section{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    margin-left: 3em;
}

/* TWO DIFFERENT COLUMDNS */

#left-side{
    display: block;
    width: 45%;
    text-align: justify;
    text-justify: inter-word;
}

#rooferWorkPic{
    margin-left: 2em;
    height: 20rem;
    width: 35rem;
}

#right-side{
    display: block;
    width: 45%;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

#otherRoofer{
    margin-left: 2em;
    margin-top: 2em;
    height: 20rem;
    width: 35rem;
    
}

/* CONTACT BANNER CSS */
.contact-banner{
    margin: auto;
    margin-top: 5rem;
    padding: 2em 1.5em 2em 1.5em;
    width: 50rem;
    text-align: center;
    justify-content: center;
    background-color:  rgb(127, 194, 216);
}